.level-sprite-list {
    position: relative;
    width: 100vw;
    height: 160px;
    margin-top: 10px;
}

.scrollview {
    width: 100%;
    height: 160px;
}

.level__sprites {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.level__sprites__item {
    box-sizing: border-box;
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    position: relative;
}

.level__sprites__item__image {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background: #ffffff;
    box-sizing: border-box;
    box-shadow: 5px 5px 15px rgba(241, 241, 240, 0.6);
}

.icon-shanchu1 {
    position: absolute;
    right: -10px;
    top: -10px;
    color: rgba(0, 0, 0, 0.5);
}

.setting-hint { 
    z-index: 100;
    width: 251px;
    height: 60px;
    position: absolute;
    bottom: -20px;
    left: 20px;
    animation: hintAnimation 1s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.setting-hint__img {
    width: 251px;
    height: 60px;
    bottom: 0;
    left: 0;
    position: absolute;
    transform: rotate(180deg);
}

.setting-hint__text {
    font-size: 22px;
    color: #fff;
    left: 15px;
    top: 20px;
    position: absolute;
}

@keyframes hintAnimation {
    from { 
        transform: translateY(-8px);
    }
    to {
        transform: translateY(2px);
    }
}
